# OS
.DS_Store
[Dd]esktop.ini
Thumbs.db

# Sensitive information (only stored locally)
.env
*.local

# Compiler
.vscode/
.idea/

# For npm packages and building for frontend or backend project
node_modules/
dist/
build/
*.log

# Older code
legacy