@import url('https://fonts.googleapis.com');

/* Global Setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Text Styles Setting */
.h2 {
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
}
.title {
    font-family: 'Noto Sans TC', sans;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;
}

/* Container Setting */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: stretch; */
    background-color: #F4F0EB;
    gap: 50px;
}
header {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 20px;
}

/* Class Elements Setting */
button.navigation-pill {
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    background-color: #57B9FF;
    color: #FFFFFF;
    border: none;
}
div.inner-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
div.inner-col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}
div.align-end {
    display: flex;
    align-items: end;
}
section.container-converter {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin: 0px 100px 0px 100px;
    padding: 20px;
    gap: 50px;
}
select.currency-type {
    height: 45px;
    background-color: #F4F0EB;
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 10px;
}

/* Unique Elements Setting (with ID) */
input#input-amount {
    text-align: center;
    height: 60px;
    background-color: #F4F0EB;
    border: 1px solid transparent;
    /* border: none; */
    border-radius: 10px;
}
button#btn-exchange {
    /* height: 44px;
    width: 46px; */
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}
button#btn-exchange:hover {
    background-color: #F4F0EB;
}
button#btn-exchange:active {
    transform: scale(0.95);
}
div#container-result {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 60px;
    background-color: #F4F0EB;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
input#input-amount:hover, select.currency-type:hover{
    border: 1px solid #000000;
}