# OS (macOS or Windows)
.DS_Store
[Dd]esktop.ini
Thumbs.db

# Testing
test

# Intellij
.idea

# K8S
kubernetes/**/*secret.yaml
!kubernetes/**/*secret.yaml.example

# Terraform
terraform/**/.terraform
terraform/**/*.tfstate
terraform/**/*.tfstate.backup
terraform/**/*.tfvars
terraform/**/*.tfvars.json
terraform/**/crash.log