# Google OAuth (Obtain from Google Cloud Console)
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Security (JWT RSA Keys)
JWT_PUBLIC_KEY_PATH=classpath:certs/public_key.pem

# RabbitMQ
RABBITMQ_URL=amqp://rabbitmq:5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# MySQL Database
MYSQL_USER=root
MYSQL_PASS=your_mysql_password
MYSQL_DRIVER=com.mysql.cj.jdbc.Driver
MYSQL_HIBERNATE_DIALECT=org.hibernate.dialect.MySQLDialect