apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret
  labels:
    app.kubernetes.io/part-of: traveling-helper
    app.kubernetes.io/managed-by: kubectl
    app.kubernetes.io/component: mq
    app.kubernetes.io/name: rabbitmq
type: Opaque
stringData:
  rabbitmq-erlang-cookie: "Your Erlang Cookie" # Remember to change this