DB_PASS=YOUR_RDS_PASS
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
PRIVATE_KEY_BASE64=YOUR_PRIVATE_KEY
PUBLIC_KEY_BASE64=YOUR_PUBLIC_KEY