apiVersion: v1
kind: Secret
metadata:
  name: mysql-pass
  labels:
    app.kubernetes.io/part-of: traveling-helper
    app.kubernetes.io/managed-by: kubectl
    app.kubernetes.io/component: database
    app.kubernetes.io/name: mysql
type: Opaque
stringData:
  password: "Your Password" # Remember to change this