apiVersion: v1
kind: Secret
metadata:
  name: traveling-helper-secret
type: Opaque
stringData:
  DB_PASS: "Your DB Password"
  GOOGLE_CLIENT_ID: "Your Google Client ID"
  GOOGLE_CLIENT_SECRET: "Your Google Client Secret"
  RABBITMQ_DEFAULT_USER: "guest"
  RABBITMQ_DEFAULT_PASS: "guest"
  PRIVATE_KEY_BASE64: "Your Private Key"
  PUBLIC_KEY_BASE64: "Your Public Key"